

.container{

    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
    margin: 0 auto;
    min-height:50vh;
    background-color: #f3f3f3;
    padding: 20px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    gap: 6px
}




.inputGroup input{
   padding: 8px;
   border-radius: 5px;
   border: 1px solid #ccc;
}
