.practice-play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-family: sans-serif;
}

.letter-box {
  font-size: 100px;
  border: 4px solid #28a745;
  padding: 30px 50px;
  margin: 30px 0;
  border-radius: 10px;
  background-color: #e6fff3;
}

.correct {
  font-size: 24px;
  color: green;

}
.incorrect {
  font-size: 24px;
  color: red;

}

.pause_pop{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border:1px solid black;
   height:300px ;
    width:400px; 
    position: absolute;
    border-radius: 8px;
    box-shadow: 20px 20px 40px 3px black;
    background-color: rgb(54, 54, 54);
}
