.section{
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: Arial;
      display: flex;
    flex-direction: column;
    gap: 16px;
 
}

.title{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.content{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-height: 200px;
    max-height: 200px;
    max-width: 480px;
    min-width: 480px;
}

label{
   font-weight: 500;
   color: #333;

}
